body {
  font-family: Comfortaa;
  color: white;
  font-size: 1rem;
  margin: 0;
  background: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.7),
      rgba(136, 136, 206, 0.6)
    ),
    url(src/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#title {
  text-align: center;
}

#description {
  text-align: center;
  font-style: italic;
}

#survey-form {
  background-color: rgba(58, 58, 158, 0.6);
  padding: 2.5rem;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 0.25rem;
}

p {
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
}

#name,
#email,
#number,
#dropdown,
#comments {
  width: 95%;
  font-family: Comfortaa;
}

.form-group {
  margin-bottom: 2rem;
}

.input-radio,
.input-checkbox {
  margin-right: 0.5rem;
}
button {
  border: none;
  border-radius: 0.25em;
  width: 95%;
  padding: 0.75rem;
  background: green;
  color: white;
  font-family: Comfortaa;
}
